<nz-tabset nzTabPosition="left" style="height: 720px; text-align: -webkit-center;
text-align: center;" [nzSelectedIndex]="selectedNum">
  <nz-tab nzTitle="我的票据">
    <app-my-card [myCard]="myCard"></app-my-card>
    <app-my-card [myCard]="myCard"></app-my-card>
    <app-my-card [myCard]="myCard"></app-my-card>
    <app-my-card [myCard]="myCard"></app-my-card>
  </nz-tab>
  <nz-tab nzTitle="出票申请">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">
          Passengers
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">
            Please input your username!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">
          Passengers
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">
            Please input your username!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">
          Passengers
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">
            Please input your username!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">
          Passengers
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">
            Please input your username!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">
          Passengers
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
            Please input your Password!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">
          Passengers
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <!-- <input type="password" nz-input formControlName="password" placeholder="Password" /> -->
            <nz-select nz-input formControlName="password" style="width: 120px;" [(ngModel)]="selectedValue"
              nzAllowClear nzPlaceHolder="Choose">
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-select>
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
            Please input your Password!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>

  <nz-tab nzTitle="等待支付">
    <nz-table #basicTable [nzData]="listOfData" style=" margin: 20px 5px;">
      <thead>
        <tr>
          <th>票据ID</th>
          <th>票据金额</th>
          <th>出票日期</th>
          <th>到期日期</th>
          <th>承兑日期</th>
          <th>出票人</th>
          <th>收款人</th>
          <th>参与承兑</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>
            <a>主动承兑</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>