<div style="float: left; height:720px; width: 150px; background: #001529">
  <div class="sideBarContent">
    本机构的资料
  </div>
</div>
<div style="float: left;float: left;margin: 70px 100px;">
  <table>
    <tbody> 
      <tr>
        <td class="firstCol">参与者类别</td>
        <td>{{playerInfo.role}}</td>
      </tr>
      <tr>
        <td class="firstCol">参与者ID</td>
        <td>{{playerInfo.playerId}}</td>
      </tr>
      <tr>
        <td class="firstCol">注册时间</td>
        <td>{{playerInfo.logupDate}}</td>
      </tr>
      <tr>
        <td class="firstCol">参与者名称</td>
        <td>{{playerInfo.playerName}}</td>
      </tr>
      <tr>
        <td class="firstCol">联系电话</td>
        <td>{{playerInfo.tel}}</td>
      </tr>
      <tr>
        <td class="firstCol">办公邮箱</td>
        <td>{{playerInfo.email}}</td>
      </tr>
      <tr>
        <td class="firstCol">联系地址</td>
        <td>{{playerInfo.address}}</td>
      </tr>
    </tbody>
  </table>
</div>