.login-form {
    max-width: 300px;
}

.login-form-forgot {
float: right;
}

.login-form-button {
width: 100%;
}

#logOutline {
    height: 420px;
    width: 400px;
    float: left;
    padding: 60px 37px;
    background: #000f1d;
    border-left: rgb(0, 15, 29) solid 15px;
}