<div id = "outline">
  <div class="inner" style="width: 110px;">
    {{userPaperCard.paperName}}
  </div>
  <div class="inner" style="width: 60px;">
    {{userPaperCard.state}}
  </div>
  <div class="inner" style="width: 250px;">
    {{userPaperCard.paperId}}
  </div>
  <div class="inner" style="width: 60px;">
    出票
  </div>
  <div class="inner" style="width: 150px;">
    {{userPaperCard.dDate}}
  </div>
  <div class="inner" style="width: 60px;">
    到期
  </div>
  <div class="inner" style="width: 150px;">
    {{userPaperCard.mDate}}
  </div>
  <div class="inner" style="width: 60px;">
    金额
  </div>
  <div class="inner" style="width: 150px;">
    {{userPaperCard.value}}
  </div>
  <div class="inner" style="width: 60px;">
    等级
  </div>
  <div class="inner" style="width: 150px;">
    {{userPaperCard.rankInfo}}
  </div>
  <div class="inner" style="width: 140px;">
    出票人
  </div>
  <div class="inner" style="width: 140px;">
    受票人
  </div>
  <div class="inner" style="width: 140px;">
    持有人
  </div>
  <div class="inner" style="width: 140px;">
    {{userPaperCard.drawerName}}
  </div>
  <div class="inner" style="width: 140px;">
    {{userPaperCard.payerName}}
  </div>
  <div class="inner" style="width: 140px;">
    {{userPaperCard.holderName}}
  </div>
  <div class="inner" style="width: 60px;">
    {{userPaperCard.stateRole}}
  </div>
  <div class="inner" style="width: 150px;">
    {{userPaperCard.stateRoleName}}
  </div>
  <div class="inner" style="width: 210px;">
    {{userPaperCard.cashData}}
  </div>
</div>