<div style="float: left; height:720px; width: 150px; background: #001529">
  <div class="sideBarContent">
    退票追索
  </div>
</div>
<div style="float: left; height: 720px">
  <form nz-form [formGroup]="pressForm" class="login-form" (ngSubmit)="pressForm()">
    <nz-form-item>
      <nz-form-label>
        申请票据ID
      </nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <input type="text" nz-input formControlName="paperId" placeholder="申请票据ID" [(ngModel)]="paperId"/>
        </nz-input-group>
        <nz-form-explain *ngIf="pressForm.get('paperId')?.dirty && pressForm.get('paperId')?.errors">
          请输入申请票据ID</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>
        追索金额
      </nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <input type="number" nz-input formControlName="cashData" placeholder="追索金额" />
        </nz-input-group>
        <nz-form-explain *ngIf="pressForm.get('cashData')?.dirty && pressForm.get('cashData')?.errors">
          请输入追索金额</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>
        被追索方ID
      </nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <input type="text" nz-input formControlName="pressedId" placeholder="被追索方ID" />
        </nz-input-group>
        <nz-form-explain *ngIf="pressForm.get('pressedId')?.dirty && pressForm.get('pressedId')?.errors">
          请输入被追索方ID
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'">确认发起追索</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>