<div style="float: left; height:720px; width: 150px; background: #001529">
  <div style="margin:0px 25px">
    <img style="border-radius: 50%; padding-top: 50px;" src="../../assets/pics/UserInfoIcon.png">
  </div>
</div>
<div style="float: left;float: left;margin: 70px 100px;">
  <table>
    <tbody> 
      <tr>
        <td class="firstCol">用户名称</td>
        <td>{{userInfo.name}}</td>
      </tr>
      <tr>
        <td class="firstCol">用户ID</td>
        <td>{{userInfo.id}}</td>
      </tr>
      <tr>
        <td class="firstCol">注册日期</td>
        <td>{{userInfo.logup_date}}</td>
      </tr>
      <tr>
        <td class="firstCol">票据总价值</td>
        <td>{{userInfo.total_value}}</td>
      </tr>
      <tr>
        <td class="firstCol">用户等级</td>
        <td>{{userInfo.rank}}</td>
      </tr>
      <tr>
        <td class="firstCol">账户余额</td>
        <td>{{userInfo.account}}</td>
      </tr>
      <tr>
        <td class="firstCol">联系电话</td>
        <td>{{userInfo.tel}}</td>
      </tr>
      <tr>
        <td class="firstCol">电子邮箱</td>
        <td>{{userInfo.email}}</td>
      </tr>
      <tr>
        <td class="firstCol">联系地址</td>
        <td>{{userInfo.address}}</td>
      </tr>
    </tbody>
  </table>
</div>