<div id="outline">
  <div id="top_bar">
    <a routerLink="/"><img style="margin-left: 15px;" src="../assets/pics/icon.png"></a>
    
  </div>
  <nz-layout>
    <nz-header>
      <div style="float: left; color:white;margin: -9px; font-size: large;" *ngIf="roleCode!=0">{{platform}}</div>
      <div style="float:right" *ngIf="roleCode==0">
        <ul class="topList" nz-menu [nzMode]="'horizontal'">
          <li nz-menu-item>
            <a routerLink="/logup" style="color: white;">用户注册</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/login" style="color: white;">登录</a>
          </li>
        </ul>
      </div>
      <div style="float:right">
        <ul class="topList" nz-menu [nzMode]="'horizontal'">
          <li nz-menu-item class="topIcon" *ngIf="roleCode==1">
            <a class="topListA" style="color: white;" [routerLink]="['/userInfo', userId]">
              <i nz-icon nzType="user" nzTheme="outline" style="font-size: large;"></i>
            </a>
          </li>
          <li nz-menu-item class="topIcon" *ngIf="roleCode!=0">
            <a class="topListA" style="color: white;" (click)='export()'>
              <i nz-icon nzType="export" nzTheme="outline" style="font-size: large;"></i>
            </a>
          </li>
        </ul>
      </div>
      <div style="float:right" *ngIf="roleCode==1">
        <ul class="topList" nz-menu [nzMode]="'horizontal'">
          <li nz-submenu>
            <span title>
              <i nz-icon nzType="pie-chart" nzTheme="outline" style="font-size: large;"></i>
              我的业务
            </span>
            <ul>
              <ul>
                <li nz-menu-item>
                  <a [routerLink]="['/myBusiness', 'papers']" [queryParams]="{userId:userId}">我的票据</a>
                </li>
                <li nz-menu-item>
                  <a [routerLink]="['/myBusiness', 'drawing']" [queryParams]="{userId:userId}">出票申请</a>
                </li>
                <li nz-menu-item>
                  <a [routerLink]="['/myBusiness', 'paying']" [queryParams]="{userId:userId}">等待支付</a>
                </li>
              </ul>
            </ul>
          </li>
          <li nz-submenu>
            <span title>
              <i nz-icon nzType="pie-chart" nzTheme="outline" style="font-size: large;"></i>
              新的业务
            </span>
            <ul>
              <ul>
                <li nz-menu-item>
                  <a [routerLink]="['/newBusiness', 'discounting']" [queryParams]="{userId:userId}" >待贴现的票据</a>
                </li>
                <li nz-menu-item>
                  <a [routerLink]="['/newBusiness', 'endorsing']" [queryParams]="{userId:userId}">签收背书票据</a>
                </li>
                <li nz-menu-item>
                  <a [routerLink]="['/newBusiness', 'accepting']" [queryParams]="{userId:userId}">处理承兑申请</a>
                </li>
                <li nz-menu-item>
                  <a [routerLink]="['/newBusiness', 'acceptingForHonour']" [queryParams]="{userId:userId}">处理参与承兑</a>
                </li>
              </ul>
            </ul>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>关于我们 | 版权声明 | 咨询我们 | 加入我们</nz-footer>
  </nz-layout>
</div>