<div id = "outline">
  <div class="inner" style="width: 110px;">
    {{myCard.paperName}}
  </div>
  <div class="inner" style="width: 60px;">
    <div *ngIf = "myCard.state==2" style = 'color:yellow'>
      申请评级中
    </div>
  </div>
  <div class="inner" style="width: 250px;">
    {{myCard.paperId}}
  </div>
  <div class="inner" style="width: 60px;">
    出票
  </div>
  <div class="inner" style="width: 150px;">
    {{myCard.dDate}}
  </div>
  <div class="inner" style="width: 60px;">
    到期
  </div>
  <div class="inner" style="width: 150px;">
    {{myCard.mDate}}
  </div>
  <div class="inner" style="width: 60px;">
    金额
  </div>
  <div class="inner" style="width: 150px;">
    {{myCard.value}}
  </div>
  <div class="inner" style="width: 60px;">
    等级
  </div>
  <div class="inner" style="width: 150px;">
    {{myCard.rankInfo}}
  </div>
  <div class="inner" style="width: 140px;">
    出票人
  </div>
  <div class="inner" style="width: 140px;">
    受票人
  </div>
  <div class="inner" style="width: 140px;">
    持有人
  </div>
  <div class="inner" style="width: 140px;">
    {{myCard.drawerName}}
  </div>
  <div class="inner" style="width: 140px;">
    {{myCard.payerName}}
  </div>
  <div class="inner" style="width: 140px;">
    {{myCard.holderName}}
  </div>
  <div class="inner" style="width: 60px;">
    {{myCard.stateRole}}
  </div>
  <div class="inner" style="width: 150px;">
    {{myCard.stateRoleName}}
  </div>
  <div class="inner" style="width: 210px;">
    {{myCard.cashData}}
  </div>

  <div class= "buttonDiv" style="margin: 5px 0 0 -5px; width: 110px">
    <button nz-button nzType="default" (click)="toReleaseRank()" >申请评级</button>
  </div>
  <div class= "buttonDiv">
    <button nz-button nzType="default" (click)="toReleaseEndorse()">发起背书</button>
  </div>
  <div class= "buttonDiv">
    <button *ngIf="myCard.state!=7"nz-button nzType="default" (click)="toReleaseAccept()">申请承兑</button>
    <button *ngIf="myCard.state==7" nz-button nzType="danger" (click)="toReleasePress()">退票追索</button>
  </div>
  <div class= "buttonDiv" style="margin: 5px -5px 0 0px; width: 110px">
    <button *ngIf="myCard.state!=3" nz-button nzType="default" (click)="toReleaseDiscount()">申请贴现</button>
    <button *ngIf="myCard.state==3"nz-button nzType="danger" (click)="toRevokeDiscount()">撤回贴现</button>
  </div>
</div>