<nz-tabset nzTabPosition="left" style="height: 720px"  [nzSelectedIndex]="selectedNum">
  <nz-tab nzTitle="待贴现的票据">
    <nz-table #basicTable1 [nzData]="discountingList" style=" margin: 20px 5px;" [nzPageSize] = "18">
      <thead>
        <tr>
          <th>票据金额</th>
          <th>出票日期</th>
          <th>到期日期</th>
          <th>出票人</th>
          <th>受票人</th>
          <th>收款人</th>
          <th>持票人</th>
          <th>评级</th>
          <th>评级方</th>
          <th>贴现金额</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable1.data">
          <td>{{ data.value }}</td>
          <td>{{ data.dDate }}</td>
          <td>{{ data.mDate }}</td>
          <td>{{ data.drawerName }}</td>
          <td>{{ data.payerName }}</td>
          <td>{{ data.payeeName }}</td>
          <td>{{ data.holderName }}</td>
          <td>{{ data.rankInfo }}</td>
          <td>{{ data.rankerName }}</td>
          <td>{{ data.cashData }}</td>
          <td>
            <a (click)='toDiscount(data.paperId)'>进行贴现</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="签收背书票据">
    <nz-table #basicTable2 [nzData]="endorsingList" style=" margin: 20px 5px;" [nzPageSize] = "18">
      <thead>
        <tr>
          <th>票据ID</th>
          <th>票据金额</th>
          <th>出票日期</th>
          <th>到期日期</th>
          <th>出票人</th>
          <th>受票人</th>
          <th>收款人</th>
          <th>背书人</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable2.data">
          <td>{{ data.paperId }}</td>
          <td>{{ data.value }}</td>
          <td>{{ data.dDate }}</td>
          <td>{{ data.mDate }}</td>
          <td>{{ data.drawerName }}</td>
          <td>{{ data.payerName }}</td>
          <td>{{ data.payeeName }}</td>
          <td>{{ data.acceptorName }}</td>
          <td>
            <a (click)='toEndorse(data.paperId,"1")'>接受</a>
          </td>
          <td>
            <a (click)='toEndorse(data.paperId,"2")'>拒绝</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="处理承兑申请">
    <nz-table #basicTable3 [nzData]="acceptingList" style=" margin: 20px 5px;" [nzPageSize] = "18">
      <thead>
        <tr>
          <th>票据ID</th>
          <th>票据金额</th>
          <th>出票日期</th>
          <th>到期日期</th>
          <th>出票人</th>
          <th>受票人</th>
          <th>申请方</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable3.data">
          <td>{{ data.paperId }}</td>
          <td>{{ data.value }}</td>
          <td>{{ data.dDate }}</td>
          <td>{{ data.mDate }}</td>
          <td>{{ data.drawerName }}</td>
          <td>{{ data.payerName }}</td>
          <td>{{ data.holderName }}</td>
          <td>
            <a (click)='toAccept(data.paperId,"1")'>接受</a>
          </td>
          <td>
            <a (click)='toAccept(data.paperId,"2")'>拒绝</a>
          </td>
          <td>
            <a [routerLink]="['/toReleaseAcceptForHonour', data.paperId]">申请参与承兑</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="处理参与承兑">
    <nz-table #basicTable4 [nzData]="acceptingForHonourList" style=" margin: 20px 5px;" [nzPageSize] = "18">
      <thead>
        <tr>
          <th>票据ID</th>
          <th>票据金额</th>
          <th>出票日期</th>
          <th>到期日期</th>
          <th>出票人</th>
          <th>受票人</th>
          <th>收款人</th>
          <th>承兑方</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable4.data">
          <td>{{ data.paperId }}</td>
          <td>{{ data.value }}</td>
          <td>{{ data.dDate }}</td>
          <td>{{ data.mDate }}</td>
          <td>{{ data.drawerName }}</td>
          <td>{{ data.payerName }}</td>
          <td>{{ data.payeeName }}</td>
          <td>{{ data.acceptorName }}</td>
          <td>
            <a (click)='toAcceptHonour(data.paperId,"1")'>接收</a>
          </td>
          <td>
            <a (click)='toAcceptHonour(data.paperId,"2")'>拒绝</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>