::ng-deep .ant-tabs-nav-wrap {
    background: #001529;
    color: white;
    width: 150px;
}

/*表格用到的css*/
:host /deep/ .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 5px;
}