<img style="height: 420px; width:700px; float: left" src="../../assets/pics/mainPageUp.png">
<div id="logOutline">
<form nz-form [formGroup]="logupForm" (ngSubmit)="logup()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired><b class="labels">电子邮箱</b></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="username" id="username" />
        <nz-form-explain *ngIf="logupForm.get('username')?.dirty && logupForm.get('username')?.errors">
            请输入您的电子邮箱
        </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired><b class="labels">密码</b></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"/>
        <nz-form-explain *ngIf="logupForm.get('password')?.dirty && logupForm.get('password')?.errors">
            请输入您的密码
        </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired><b class="labels">确认密码</b></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
            <nz-form-explain *ngIf="logupForm.get('checkPassword')?.dirty && logupForm.get('checkPassword')?.errors">
                <ng-container *ngIf="logupForm.get('checkPassword')?.hasError('required')">
                请确认您的密码
                </ng-container>
                <ng-container *ngIf="logupForm.get('checkPassword')?.hasError('confirm')">
                您两次输入的密码不同
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">确认注册</button>
        </nz-form-control>
    </nz-form-item>
    </form>
</div>
<img src="../../assets/pics/mainPageDown.png">