<div id="outline">
  <div class="inner" style="width: 110px;">
    {{userCard.userName}}
  </div>
  <div class="inner" style="width: 60px;">
  </div>
  <div class="inner" style="width: 250px;">
    {{userCard.userId}}
  </div>
  <div class="inner" style="width: 120px;">
    注册时间
  </div>
  <div class="inner" style="width: 300px;">
    {{userCard.logupDate}}
  </div>
  <div class="inner" style="width: 60px;">
    等级
  </div>
  <div class="inner" style="width: 150px;">
    {{userCard.rankInfo}}
  </div>
  <div class="inner" style="width: 60px;">
    余额
  </div>
  <div class="inner" style="width: 150px;">
    {{userCard.account}}
  </div>
  <div class="inner" style="width: 140px;">
    联系电话
  </div>
  <div class="inner" style="width: 280px;">
    {{userCard.tel}}
  </div>
  <div class="inner" style="width: 140px;">
    电子邮箱
  </div>
  <div class="inner" style="width: 280px;">
    {{userCard.email}}
  </div>
  <div class="inner" style="width: 140px;">
    联系地址
  </div>
  <div class="inner" style="width: 280px;">
    {{userCard.address}}
  </div>
  <div class="buttonDiv" style="margin: 5px 0 0 -5px;">
  </div>
  <div class="buttonDiv" style="margin: 5px -5px 0 0px;">
    <button  nz-button nzType="default" (click)="toGetUserPapers()">查看持有票据情况</button>
  </div>
</div>